#body {
	width : 100%;
	padding-top : 45px;
	color : white;
}

#body .btn {
	font-size : 22px;
	cursor : pointer;
	display : inline-block;
	background-color : #f15c3e;
	text-align : center;
	width : 42.5%;
	box-shadow : 0px 1px 4px rgba(0,0,0,0.3);
	padding : 20px 0 20px 0;
	border-radius : 5px;
	margin : 3vh 0vw 1vh 5vw;
}

#body .btn p {
	margin : 15px 20px 10px 20px;
	letter-spacing : -1.5px;
	font-size : 17px;
}

#body #br {
	width : calc( 100% - 40px );
	background-color : #f15c3e;
	height : 3px;
	margin : auto;
	margin-top : 20px;
	margin-bottom : 30px;
}

#body .room {
	cursor : pointer;
	position : relative;
	background-color : #f15c3e;
	display : inline-block;
	height : 280px;
	margin-bottom : 25px;
	width : 240px;
	margin-left : 4%;
	border-radius : 5px;
	box-shadow : 0px 2px 5px rgba(0,0,0,0.25);
}

#body .room .title {
	text-align : center;
	color : #202020;
	padding-top : 30px;
	height : calc( 50% - 30px );
	font-size : 18px;
	width : 100%;
}

#body .room img {
	width : 80px;
	height : 80px;
	border-radius : 50px;
	border : 4px solid white;
	position : absolute;
	top : 70px;
	left : calc( 50% - 43px );
}

#body .room .genre {
	padding-top : 30px;
	text-align : center;
	width : 100%;

}

#body .room .people {
	position : absolute;
	bottom : 14px;
	left : 14px;
}

#body .room .password {
	background : url('/img/room_password.jpg');
	background-size : 30px 30px;
	width : 30px;
	height : 30px;
	position : absolute;
	bottom : 10px;
	right : 12px;
}

#body .room .text {
	text-align : center;
}

#imglayer { 
	position : absolute;
	height : 100vh;
	width : 100vw;
	z-index : 100;
	top : 0;
	left : 0;
	background-color : rgba(0,0,0,.4);
}

#room_menu {
	z-index : 200;
	width : 80vw;
	position : absolute;
	margin : 10vh 10vw 10vh 10vw;
	top : 0px;
	height : 80vh;
	background-color : white;
	box-shadow : 0px 2px 1px 1px rgba(0,0,0,0.1);
}

#room_menu #room_menu_head {
	background-color : #f15c3e;
}

#room_menu #room_menu_head img {
	cursor : pointer;
	width : 30px;
	margin : 8px 6px 5px 11px;
}

#room_menu #room_menu_body {
	font-size : 22px;
	margin-top : 4vh;
	color : #f15c3e;
	font-family : 'NanumGothicL';
}

#room_menu #room_menu_body .label{
	display : inline-block;
	text-align : center;
	width : 115px;
}

#room_menu #room_menu_body #room_menu_public {
	margin : 2vh auto 2vh auto;
	display : block;
}

#room_menu #room_menu_body input{
	font-size : 30px;
	border : 0;
	border-bottom : 2px solid #f15c3e;
	border-radius : 0;
	width : calc( 80vw - 140px );
	text-align : center;
	margin-bottom : 2vh;
	font-family : 'NanumGothicL';
}

#room_menu #room_menu_body input:focus {
	outline : 0;
}

#room_menu #room_menu_body img {
	width : 70px;
	margin-left : calc( 33.3% - 48px );
}

#room_menu select {
	font-family : 'NanumGothicL';
	font-size : 30px;
	border : 0;
	border-bottom : 2px solid #f15c3e;
	padding-bottom : 5px;
	padding-left : calc( 40vw - 120px );
	padding-right : calc( 40vw - 160px );
	width : calc( 80vw - 140px );
	-webkit-appearance : none;
	-moz-appearance : none;
	appearance : none;
	border-radius : 0;
	background : url('/img/room_arrow.jpg') no-repeat right;
	background-size : 30px;
}

#room_menu #room_menu_body select:focus {
	outline : 0;
}

#room_menu #room_menu_body #room_menu_password {
	display : block;
	margin : auto;
	width : 80%;
	text-align : center;
}

#room_menu #room_menu_body #room_menu_create {
	position : absolute;
	bottom : calc( 3vh + 10px );
	left : calc( 50% - 100px );
	border : 1px solid #f15c3e;
	border-radius : 2px;
	cursor : pointer;
	width : 180px;
	padding : 10px;
	text-align : center;
}

@media screen and ( max-width : 1120px ){
	#body .btn p {
		display : none;
	}
}

@media screen and ( min-width : 1501px ){
	#body .room {
		width : 12%;
	}
}

@media screen and ( max-width : 1500px ){
	#body .room {
		width : 15.2%;
	}
}

@media screen and ( max-width : 1200px ){
	#body .room {
		width : 20%;
	}
}

@media screen and ( max-width : 900px ){
	#body .room {
		width : 28%;
	}
}

@media screen and ( max-width : 600px ){
	#body .room {
		width : 44%;
	}
}

@media screen and ( max-width : 480px ){
	#room_menu select {
		background : none;
	}
}

@media screen and ( max-width : 600px ){
	.label {
		font-size : 18px;
	}
	#room_menu #room_menu_body input, #room_menu #room_menu_body select{
		font-size : 24px;
	}
}



